<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.Cors" version="5.2.7" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.7" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.7" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.7" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Cors" version="5.2.7" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.7" targetFramework="net45" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="2.0.1" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="11.0.1" targetFramework="net45" />
  <package id="Syncfusion.Compression.Base" version="19.1.0.64" targetFramework="net45" />
  <package id="Syncfusion.DocIO.AspNet.Mvc5" version="19.1.0.64" targetFramework="net45" />
  <package id="Syncfusion.EJ2.SpellChecker.AspNet.Mvc5" version="19.1.0.64" targetFramework="net45" />
  <package id="Syncfusion.EJ2.WordEditor.AspNet.Mvc5" version="19.1.0.64" targetFramework="net45" />
  <package id="Syncfusion.Licensing" version="19.1.0.64" targetFramework="net45" />
  <package id="Syncfusion.OfficeChart.Base" version="19.1.0.64" targetFramework="net45" />
</packages>